@import "shapes";
@import "settings";
@import "foundation";
@import "base";

@import "modules/typography";
@import "modules/example";
@import "modules/block";
@import "modules/editor";
@import "modules/tabs";

.deck-status {
  bottom: 0;
  position: fixed;
  text-align: right;
  z-index: -1;
}
// Otherwise, our transitions won't work like how we expect them to.
.slide.deck-child-current {
  position: relative;
  left: auto;
  top: auto;
}