// example styles

.example-output {
  background: #fff;
  border-radius: 5px 5px 0 0;
  border: 1px solid #eee;
  min-height: 290px;
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
}

.example-console {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 0 0 5px 5px;
  min-height: 50px;
  height: 100%;
  overflow: auto;
  padding: 0.5rem;
  white-space: pre;
}